<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartware.gucongc">

    <!-- Permission - Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission - Storage Access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permission - Phone -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActManageRecord"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActJoin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActFindUserIDPW"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActTargetTree"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActTreeTip"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity android:name=".ActFindSystem"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity
            android:name=".ActEditScheduleSec"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ActEditSchedule"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>

        <activity
            android:name=".ActFindAssignment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            />

        <activity
            android:name=".ActChapter"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <activity
            android:name=".ActLeaderBoard"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
    </application>

</manifest>